{% extends "base.html" %}


{% block html_title %} {{ title|striptags }} {% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block head_tags %}
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/taxonomy/js/sluginput.js"></script>
{% endblock %}

{% block content %}

  <form id="generic-form" enctype="multipart/form-data" action="{{ submit.url }}" method="post">
    {% csrf_token %}

    <ul class="admin-list">
      {{ form.as_ul }}
    </ul>
    
    <ul class="actions">
      {% for action in actions %}
      <li> 
        {{ action }}
      </li>
      {% endfor %}
      <li>
      {% if submit.message %}
      <input type="submit" value={{ submit.message }} class="button primary" />
      {% else %}
      <p class="admin-warning">No submit data in context?</p>
      {% endif %}
      </li>
    </ul>
  </form>
{% endblock %}
